body {
  background-color: gray;
}

#root {
  width: 1200px;
  margin: auto;
  background-color: rgba(43, 44, 44, 0.678);
  border-radius: 20px;
}

.country {
  border: 2px solid salmon;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
}

.countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.btn1{
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
  color: blue;
}
.btn2{
  background-color: gray;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.visited1{
  background-color: aquamarine;
}